* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background-image: url("https://minimalistic-wallpaper.demolab.com/?random");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
}

.header-text {
    color: white;
    font-size: 48px;
    text-shadow: 1px 1px 4px #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img {
    height: 100%;
    width: 64%;
    display: block;
    object-fit: contain;
}


.header h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: white;
    animation: fadeIn 1s ease-in-out forwards, breathing 4s ease-in-out infinite;
}

.subtext {
    font-size: 20px;
    color: white;
    text-align: center;
    opacity: 0;
    animation: header-subtext-fade-in 4s ease-in-out forwards, breathing 5s ease-in-out infinite;
    margin-top: 1em;
}

@keyframes header-subtext-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}



.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #1c1c1c;
    /* padding: 20px; */
    padding: 0 30px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.navigation a:hover {
    color: #f48024;
    transform: scale(1.06);
}

.text-hover-color a {
    color: rgba(158, 157, 157, 0.92);
    /* text-decoration: none; */
    transition: all 0.2s ease-in-out;
}

.text-hover-color a:hover {
    color: #f48024;
}

.section {
    opacity: 0;
    filter:blur(100px);
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

@media (prefers-reduced-motion) {
    .section {
        transition: none;
    }
}

.show {
    filter:blur(0);
    opacity: 1;
    transform: translateX(0);
}


.section_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 30px;
}


.section_right {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 90vh;
    width: fit-content;
    padding: 30px;
}

.section_left {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90vh;
    width: fit-content;
    padding: 30px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.fixed-slider {
    position: fixed;
    top: 55px;
    z-index: 2;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: url('./brightness.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transform: scale(1.1);
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.21);
}

.card {
    background-color: #333;
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
    overflow: hidden;
    animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.015);
    }

    100% {
        transform: scale(1);
    }
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 14px 15px rgba(0, 0, 0, 0.25);
    background-size: cover;
    animation: none;
    transform: scale(1.05);
}

.card h2 {
    margin-top: 30px;
    font-size: 24px;
}

.card p {
    /* padding: 30px; */
    margin-top: 20px;
    font-size: 18px;
}

.about-me h2 {
    text-align: left;
    margin-left: 10px;
}

.about-me p {
    text-align: left;
    margin-left: 10px;
    z-index: 0;
}

.about-me {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.about-me:before {
    content: "";
    background-color: rgb(123, 4, 174);
    /* background-color: rgba(186, 41, 41, 0.961); */
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.about-me:hover:before {
    width: 100%;
}

.about-me h2,
p {
    position: relative;
    z-index: 1;
}

.about-me h2,
p {
    z-index: 0;
}

.my-projects h2 {
    text-align: left;
    margin-right: 10px;
}

.my-projects p {
    text-align: left;
    margin-right: 10px;
    z-index: 0;
}

.my-projects {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.my-projects:before {
    content: "";
    /* background-color: rgba(147, 1, 209, 0.771); */
    background-color: rgb(19, 80, 201);
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.my-projects:hover:before {
    width: 100%;
}

.my-projects h2,
p {
    position: relative;
    z-index: 1;
}

.my-projects h2,
p {
    z-index: 0;
}

.contact h2 {
    text-align: left;
    margin-left: 10px;
}

.contact p {
    text-align: left;
    margin-left: 10px;
    z-index: 0;
}



.contact {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.contact:before {
    content: "";
    background-color: rgba(9, 171, 68, 0.771);
    /* background-color: rgb(186, 41, 41); */
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.contact:hover:before {
    width: 100%;
}

.contact h2,
p {
    position: relative;
    z-index: 1;
}

.contact h2,
p {
    z-index: 0;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.cv-bubble {
    position: fixed;
    top: 20px;
    right: 25px;
    background-color: rgb(17, 48, 189);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

.cv-bubble:hover {
    transform: scale(1.1);
}

.fixed-bubble {
    position: fixed;
    top: 85px;
    right: 26px;
}

.front-skill {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.front-skill:before {
    content: "";
    background-color: rgb(186, 41, 41);
    /* background-color: rgb(186, 41, 41); */
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.front-skill:hover:before {
    width: 100%;
}

.front-skill h2,
p {
    position: relative;
    z-index: 1;
}

.front-skill h2,
p {
    z-index: 0;
}

.back-skill {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.back-skill:before {
    content: "";
    background-color: rgba(1, 122, 45, 0.771);
    /* background-color: rgb(186, 41, 41); */
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.back-skill:hover:before {
    width: 100%;
}

.back-skill h2,
p {
    position: relative;
    z-index: 1;
}

.back-skill h2,
p {
    z-index: 0;
}



.tool-skill {
    /* background-color: #333; */
    color: #fff;
    width: 55%;
    height: 90%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 30px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 1em;
    position: relative;
}

.tool-skill:before {
    content: "";
    background-color: rgba(255, 119, 0, 0.933);
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.tool-skill:hover:before {
    width: 100%;
}

.tool-skill h2,
p {
    position: relative;
    z-index: 1;
}

.tool-skill h2,
p {
    z-index: 0;
}

.img-lang {
    width: 100px;
    height: 74px;
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.img-lang:hover {
    transform: scale(1.1);
}

a {
    cursor: pointer;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after image containers */
.row::after {
    float: none;
    margin: 0 auto;
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

.cv-bubble:hover {
    background-color: #1c69bb;
}

@media (max-width: 1290px) {

    .section_center {
        flex-direction: column;
        height: auto;
    }

    .section_right {
        justify-content: center;
        height: fit-content;
    }

    .section_left {
        justify-content: center;
        height: fit-content;
    }

}

@media (max-width: 767px) {
    img {
        display: none;
    }

    .img-lang {
        display: block;
        margin: 10px;
        width: 145px;
    }

    .img-lang-social {
        display: block;
        margin: 10px;
        width: 125px;
    }

    .column {
        float: left;
        width: 33.3%;
        padding: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        flex: 1;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header {
        height: 70vh;
    }

    .header-text {
        font-size: 36px;
    }

    .card {
        width: 100%;
        margin: 10px;
    }

    .about-me h2 {
        text-align: center;
        /* margin-top: 10px;
        text-size-adjust: auto; */
    }

    .about-me p {
        text-align: center;
        /* margin-top: 10px;
        text-size-adjust: auto; */
    }

    .my-projects h2 {
        text-align: center;
        margin-top: 10px;
    }

    .my-projects p {
        text-align: center;
        margin-top: 10px;
    }

    .contact h2 {
        text-align: center;
        margin-top: 10px;
    }

    .contact p {
        text-align: center;
        margin-top: 10px;
    }

    .section_center {
        flex-direction: column;
        height: auto;
    }

    .section_center h2 {
        text-align: center;
        margin-top: 5px;
    }

    .section_center p {
        text-align: center;
        margin-top: 10px;
        height: fit-content;
    }

    .section_right {
        justify-content: center;
        height: fit-content;
    }

    .section_left {
        justify-content: center;
        height: fit-content;
    }

    .cv-bubble {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }
}